@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
    margin: 0.5rem;
    padding: 0.4rem;
    font-size: 1rem;
    border: 2px solid transparent;
    outline: none;
    background-color: #eee;
    transition-duration: 0.1s;
}

input:focus {
    background-color: white;
    border-bottom: 2px solid black;
    border-radius: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-link {
    text-decoration: underline;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.submit-btn {
    border: 2px solid #ccc;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    margin: 0.5rem;
}

@media screen and not (hover: none) {
    input:hover,
    select:hover,
    .submit-btn:hover {
        border-color: #303030;
    }
}

.submit-wrapper {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.form-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.error {
    background-color: rgba(243, 81, 81, 0.2);
    color: rgb(164, 55, 55);
    padding: 0.4rem;
    margin: 0.5rem;
    margin-top: 1rem;
}
